<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>

<h1>Welcome User</h1><p th:text="${userName_User}"></p>
<h1>Role</h1><p th:text="${roleUser}"></p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>

<input type="text" id="messageText">
<button type="button" id="btnSend" onclick="sendMessage()">send</button>

<script th:src="@{/js/chat.js}"></script>
</body>
</html>